@model Staad.Domain.Entities.Word

<div id="dialog-modal" title="Add new word" data-bind='if: canEdit'>
    @Html.HiddenFor(x => x.Container.Id)
    @Html.HiddenFor(x => x.Id, new { @class = "b-wddialog__id" })

    <div class="validation-summary-errors"></div>
 
    @Html.LabelFor(x => x.Original, "Word: ")
    <br />
    @Html.TextBoxFor(x => x.Original, new { @class = "b-wddialog__original", data_bind = "value: dlgWord.original" })
    <br />
    @Html.LabelFor(x => x.Definition, "Definition: ")
    <br />
    @Html.TextAreaFor(x => x.Definition, new { @class = "b-wddialog__definition", data_bind = "value: dlgWord.definition" })
    <br />
    @Html.LabelFor(x => x.Definition, "Example: ")
    <br />
    @Html.TextAreaFor(x => x.Example, new { @class = "b-wddialog__example", data_bind = "value: dlgWord.example" })
    <br />

    <input type="button" value="Save" class="b-wddialog__save" id="saveWord" data-bind='click: saveWordInDlg'/>
</div>